<h1> we're searching now! </h1>

<form accept-charset="UTF-8" action="/results" method="post">
<input type="text" name="movie" placeholder="Search the Database">
<button type="submit" name="commit"> Submit </button>
</form>



<p><%= link_to 'check out the database', movies_path %> </p>